# Default ignored files
/shelf/
/workspace.xml
# Environment-dependent path to Maven home directory
/mavenHomeManager.xml
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
